* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* index.html */

.landing {
    background-color: #0D6EFD;
    height: 70vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.landing h1 {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding-bottom: 3px;
    font-weight: 700;
}

.landing p {
    margin-bottom: 2px;
}

.footer {
    background-color: #E8EEF4;
    height: 30vh;
    color: #7c8081;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

/* test.html */

.header {
    background-color: #0D6EFD;
    height: 10vh;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.header h1 {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding-bottom: 3px;
    font-weight: 700;
}

.questions .question {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
}

.question h2 {
    font-weight: 700;
}

.question p {
    text-align: center;
    width: 80%;
}

/* result.html */
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.result img {
    max-width: 500px;
    width: 80%;
}