/* base */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
	font-family: 'Spoqa Han Sans Neo';
}
 
/* layout */
body {
    width: 520px;
    margin: 0 auto;
    padding-bottom: 25px;
    border: 1px solid lightblue;
}

/* skip navigation */

.nav-skip a {
    position: absolute;
    top: -200px;
    left: 0;
    width: 160px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    text-align: center;
}

/* style */

/* header */
.header {
    position: relative;
    text-align: center;
}

.header__title-sign {
    line-height: 58px;
}

.header__btn-close {
    display: block;
    position: absolute;
    top: 22px;
    right: 22px;
    background: #FFF;
    border: none;
}

.header__btn-close img {
    width: 16px;
    height: 16px;
}

header::after {
    display: block;
    content: '';
    background:  #C4C4C4;
    height: 1px
}

/* main */
.main {
    padding: 0 24px;
}


/* 로그인 창 */
.sign-in {
    margin-top: 26px;
    line-height: 24px;
}

.sign-in__info {
    font-size: 20px;
    font-weight: 500;
}

.sign-in__form {
    margin-top: 24px;
}

.sign-in__form .sign-in__id, .sign-in__form .sign-in__password {
    width: 472px;
    height: 50px;
    padding: 15px 16px;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    color: #767676;
    line-height: 20px;
}

/* 아이디, 비밀번호 창 누르면 경고 뜨도록 
원래 서버에서 값 받아와서 검증하고 해야하는데,
지금은 모르니까 스타일이라도 적용해보았다.  */
.sign-in__form .sign-in__warning-id, .sign-in__form .sign-in__warning-password {
    display: none;
    font-size: 14px;
    line-height: 17.5px;
    margin-top: 6px;
    color: #F4492E;
}

.sign-in__form .sign-in__id:focus, .sign-in__form .sign-in__password:focus {
    outline-width: 0;
    border: 2px solid #F4492E;
}

.sign-in__form .sign-in__id:focus + .sign-in__warning-id, .sign-in__form .sign-in__password:focus + .sign-in__warning-password {
    display: block;
}

.sign-in__form .sign-in__id:active + .sign-in__warning-id  {
    display: none;
}

.sign-in__form .sign-in__password {
    margin-top: 10px;
    font-weight: 500;
}

/* 로그인 상태 유지도 누르면 체크박스가 동작하게 하기 위한 코드를 넣었다!
나중에 여기서 boolean 값으로 전달해주면 되겠지 */

.sign-in__form .sign-in__stay {
    margin-top: 16px;
    margin-left: 4px;
}

.sign-in__form .sign-in__check-stay {
    display: none;
}

.sign-in__form .sign-in__img-stay {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: 22px;
    background-image: url(../res/check-box.png);
}

.sign-in__form .sign-in__label-stay {
    color: #767676;
    margin-left: 8px;
    vertical-align: top;
    font-weight: 500;
}

.sign-in__form .sign-in__check-stay:checked + .sign-in__img-stay {
    background-image: url(../res/check-box-2.png);
}

.sign-in__form .sign-in__btn-log-in {
    margin-top: 20px;
    display: block;
    background-color: #2F80ED;
    color: white;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.sign-in__rel {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.sign-in__rel a {
    line-height: 18px;
    color: #767676;
}

.sign-in__join::after {
    display: inline-block;
    content: '|';
    width: 4px;
    height: 18px;
    margin: 0 12px;
}

/* divider */

.sign-in__divider {
    margin-top: 30px;
    text-align: center;
}

.sign-in__divider-txt {

    position: relative;
    color: #767676;
    font-size: 14px;
    line-height: 16px;
}

.sign-in__divider-txt::before, .sign-in__divider-txt::after {
    position: absolute;
    top: 7px;
    display: block;
    content: '';
    width: 210px;
    background:  #C4C4C4;
    height: 1px;
}

.sign-in__divider-txt::before {
    left: 0;
}

.sign-in__divider-txt::after {
    right: 0;
}
/* sns 로그인 */

.sign-in__sns-login {
    margin-top: 10px;
    text-align: center;  
}


.sign-in__sns-login .sign-in__google, .sign-in__sns-login .sign-in__facebook, .sign-in__sns-login .sign-in__naver, .sign-in__sns-login .sign-in__kakaotalk {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding-left: 40px;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
}

.sign-in__sns-login .sign-in__google {
    border: 1px solid #767676;
}
.sign-in__sns-login .sign-in__facebook {
    border: 1px solid #2D9CDB;
}
.sign-in__sns-login .sign-in__naver {
    border: 1px solid #00BF18;
}
.sign-in__sns-login .sign-in__kakaotalk {
    border: 1px solid #F2C94C;
}

.sign-in__sns-login .sign-in__google::before, .sign-in__sns-login .sign-in__facebook::before, .sign-in__sns-login .sign-in__naver::before, .sign-in__sns-login .sign-in__kakaotalk::before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 28px;
    height: 28px;
    background-size: 28px;
    /* background-repeat: no-repeat; */
    margin: 11px 12px;
}

.sign-in__sns-login .sign-in__google::before {
    background-image: url(../res/google.png);
}
.sign-in__sns-login .sign-in__facebook::before {
    background-image: url(../res/facebook.png);
}
.sign-in__sns-login .sign-in__naver::before {
    background-image: url(../res/naver.png);
}
.sign-in__sns-login .sign-in__kakaotalk::before {
    background-image: url(../res/kakaotalk.png);
}
