<!DOCTYPE html>
<html>

<head>
    <% include ./layout/header %>
        <link rel="stylesheet" href="/stylesheets/auth.css" />
</head>

<body>
    <% include ./layout/navbar %>
        <div class="wrap">
            <div class="login_wrap">
                <form action="/auth/register" method="POST">
                    <div class="login ui input">
                        <input name="username" type="text" placeholder="아이디" />
                    </div>
                    <br />
                    <div class="login ui input" style="margin-top: 10px">
                        <input name="password" type="password" placeholder="비밀번호" />
                    </div>
                    <br />
                    <div class="login ui input" style="margin-top: 10px">
                        <input name="password_confirm" type="password" placeholder="비밀번호 확인" />
                    </div>
                    <button type="submit" style="width: 100%; margin-top: 10px" class="ui button">
                        회원가입
                    </button>
                </form>
            </div>
        </div>
</body>

</html>